body {
  margin: 0;
  margin-bottom: 100px;
}

header {
  height: 100px;
  width: 100%;
  background-color: darkgray;
  display: flex;
  justify-content: space-between;
}

header img {
  width: 80px;
  height: 80px;
  padding-top: 10px;
  padding-left: 1rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding-right: 100px;
  padding-top: 1.5rem;
}

li {
  list-style: none;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}
main {
  margin-left: 150px;
  margin-right: 150px;
}
.title {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  margin-top: 50px;
}

.title img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h3 {
  font-weight: lighter;
}

.main-img {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-img img {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.galery {
  margin-top: 150px;
  display: flex;
  justify-items: center;
  gap: 100px;
}

.galery div img {
  height: 250px;
  width: 400px;
  object-fit: cover;
}

@media screen and (max-width: 1696px) {
  .galery {
    flex-wrap: wrap;
    justify-content: center;
    gap: 200px;
  }

  .galery div img {
    height: 300px;
    width: 500px;
    object-fit: cover;
  }
}

@media screen and (max-width: 922px) {
  header img {
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  header img {
    margin: auto;
    align-self: center;
  }
  nav ul {
    display: none;
  }
}
